div.login {
    border: 1px solid gray;
    background-color: cornflowerblue;
    width: 240px;
    height: 190px;
    margin: 20px;
    padding: 10px;
    position: fixed;
    top: 30px;
    right: 30px;
}